#Gola {
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 20px;
}
button {
  width: 50px;
  height: 50px;
}
input {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
#smartBulb {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}
.On {
  background-color: yellow;
}
#Container{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 50%;
}
#ChildConatiner {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-left: 50px;
  div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
