* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#image {
  width: 20px;
  height: 20px;
}
#navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 30px;
  background-color:rgb(255, 255, 255);
  /* margin-bottom: 30px; */
  /* position: sticky; */
  /* z-index: 99; */
  position: fixed;
  /* right: 130px; */
}
#icon {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  position: fixed;
}
.material {
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
  position: fixed;
  left: 520px;
  .page {
    display: flex;
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
  }
  .account {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
  }
  .Docs {
    display: flex;
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
    align-items: center;
  }
}
.Btns {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: 50px;
  position: fixed;
  left: 1200px;
  #signIn {
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #signIn:hover {
    cursor: pointer;
    background-color: rgb(246, 243, 243);
    transition: background-color 1s ease-out, transform 1s ease-out;
  }
  #block {
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #block:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px rgb(190, 188, 188);
    transition: background-color 1s ease-out, transform 1s ease-out;
  }
}
.IntroducationSection {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.Intro {
  margin: 20px;
  margin-top: 100px;
  #welcome {
    margin: 40px 20px 20px 80px;
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  #intropara {
    width: 500px;
    padding-left: 80px;
    font-size: 16px;
    color: rgb(144, 137, 137);
  }
  #em {
    padding-left: 80px;
    padding-top: 15px;
    font-size: 14px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
.mailContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 50px;
  gap: 25px;
  #email {
    width: 280px;
    height: 40px;
    padding: 12px;
    font-size: 14px;
  }
  #req {
    width: 130px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #req:hover {
    box-shadow: 2px 2px 10px rgb(171, 170, 170);
    transition: background-color 1s ease-out, transform 1s ease-out;
  }
}
#con {
  margin-left: 75px;
  margin-top: 10px;
  color: rgb(144, 137, 137);
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
#myimg {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  margin-top: 80px;
  margin-right: 100px;
  /* margin-right: 100px; */
}
#logosize {
  width: 100px;
}
.cli {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}
.pics {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.Skills {
  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
}
.frontend {
  span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
    background-color: black;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
}
.TechnologyContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.ProjectTitle {
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(144, 137, 137);
  }
}
.MobileApp {
  margin-bottom: 50px;
  h3 {
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
  button {
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 5px;
    margin-top: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    cursor: pointer;
  }
}
.ProjectContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 80px;
}
.MyResumeContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skill {
  h1 {
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
  button {
    border: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    /* padding: 10px; */
  }
  .btn {
    display: flex;
    align-items: center;
    margin: 20px;
    cursor: pointer;
  }
}
.bech {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  #sp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
  }
  p {
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
}
.clientsay {
  h1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  p {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(144, 137, 137);
  }
}
.imageCont {
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
  }
}
.feedback {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.Writtenfeedback {
  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    color: rgb(144, 137, 137);
    margin-bottom: 8px;
  }
  h5 {
    margin-top: 3px;
    margin-bottom: 10px;
    color: rgb(144, 137, 137);
  }
}
.feedbackImage {
  img {
    width: 300px;
    border-radius: 10px;
  }
}
.Popular {
  p {
    margin-top: 150px;
    color: rgb(144, 137, 137);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}
.popularimg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  img {
    width: 120px;
    height: 40px;
    filter: grayscale(100%);
  }
}
.contact {
  h1 {
    margin-top: 80px;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(144, 137, 137);
    margin-top: 8px;
  }
}
.contactInfo {
  margin-right: 0px;
  margin-top: 60px;
  display: flex;
  margin-left: 50px;
  width: 90%;
  height: 540px;
  border: 1px solid rgb(237, 232, 232);
  border-radius: 10px;
  box-shadow: 1px 1px 0px 0px rgb(133, 132, 132);
  .simplecont {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    background-color: black;
    color: white;
    h2 {
      padding-left: 60px;
      padding-top: 40px;
    }
    h4 {
      padding-left: 60px;
      padding-top: 10px;
      color: rgb(215, 204, 204);
      padding-bottom: 30px;
    }
    .contactway {
      display: flex;
      align-items: center;
      padding-left: 60px;
      margin-bottom: 10px;
      gap: 20px;
      font-size: 18px;
    }
  }
}
.writeInfo {
  padding-left: 60px;
  margin-bottom: 40px;
  .name {
    margin-top: 60px;
    font-size: 14px;
    display: flex;
    color: rgb(69, 186, 248);
    gap: 10px;
    input {
      width: 250px;
      /* height: 80px; */
      /* padding-right: 300px; */
      border: none;
      border-bottom: 1px solid rgb(19, 19, 20);
    }
  }
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .intrest {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .message {
    font-size: 20px;
    input {
      margin-right: 300px;
      height: 80px;
      width: 500px;
      border: none;
      border-bottom: 1px solid black;
    }
  }
  button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    margin-top: 80px;
    margin-left: 500px;
    cursor: pointer;
  }
  button:hover {
      cursor: pointer;
      box-shadow: 2px 5px 10px rgb(190, 188, 188);
      transition: background-color 1s ease-out, transform 1s ease-out;
    }
}
.mail {
  margin-top: 20px;
  margin-bottom: 60px;
  /* width: 200px; */

  input {
    margin-right: 300px;
    width: 500px;
    border: none;
    height: 30px;
    border-bottom: 1px solid black;
  }
}
.foter {
  width: 1350px;
  height: 100px;
  border: 1px solid rgb(255, 253, 253);
  box-shadow: 0px 0px 1px 0px rgb(133, 132, 132);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(144, 137, 137);
  margin-top: 60px;
  /* margin-bottom: 10px; */
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .btnss {
    /* margin-top: 60px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    button {
      width: 120px;
      height: 40px;
      background-color: black;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      cursor: pointer;
      box-shadow: 2px 5px 10px rgb(190, 188, 188);
      transition: background-color 1s ease-out, transform 1s ease-out;
    }
  }
}
