* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#image {
  width: 20px;
  height: 20px;
}
#navBar {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 30px;
}
#icon {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.material {
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
  .page {
    display: flex;
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
  }
  .account {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
  }
  .Docs {
    display: flex;
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
    align-items: center;
  }
}
.Btns {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: 50px;
  #signIn {
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #signIn:hover {
    cursor: pointer;
    background-color: rgb(246, 243, 243);
    transition: background-color 1s ease-out, transform 1s ease-out;
  }
  #block {
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #block:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px rgb(190, 188, 188);
    transition: background-color 1s ease-out, transform 1s ease-out;
  }
}
.IntroducationSection {
  display: flex;
  justify-content: space-around;
}
.Intro {
  margin: 20px;
  margin-top: 80px;
  #welcome {
    margin: 40px 20px 20px 80px;
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  #intropara {
    width: 500px;
    padding-left: 80px;
    font-size: 16px;
    color: rgb(144, 137, 137);
  }
  #em {
    padding-left: 80px;
    padding-top: 15px;
    font-size: 14px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
.mailContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 50px;
  gap: 25px;
  #email {
    width: 280px;
    height: 40px;
    padding: 12px;
    font-size: 14px;
  }
  #req {
    width: 130px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #req:hover {
    box-shadow: 2px 2px 10px rgb(171, 170, 170);
    transition: background-color 1s ease-out, transform 1s ease-out;
  }
}
#con {
  margin-left: 75px;
  margin-top: 10px;
  color: rgb(144, 137, 137);
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
#myimg {
  width: 550px;
  height: 500px;
  border-radius: 20px;
  margin-top: 60px;
  margin-right: 100px;
  /* margin-right: 100px; */
}
#logosize {
  width: 100px;
}
.cli {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}
.pics {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.Skills {
  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
}
.frontend {
  span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
    background-color: black;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: rgb(144, 137, 137);
  }
}
.TechnologyContainer {
  display: grid;grid-template-columns: auto auto auto;
}
