*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    /* width: 100%;
    height: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    /* background-color: aliceblue; */
}
.TaskContainer{
    width: 100%;
}