#maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    gap: 15px;
}
#first{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: aqua;

}
#second{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(255, 0, 0);

}
#third{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(212, 0, 255);

}
#fourth{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(194, 245, 9);

}