* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MainContainer {
  display: flex;
}
.FirstChildContainer {
  width: 280px;
  border: 1px solid black;
  padding-left: 15px;
  background-color: rgb(115, 118, 111);
}
.Profile {
  h2 {
    color: white;
    font-size: 16px;
    padding-left: 35px;
  }
  h3 {
    font-size: 12px;
    color: rgb(223, 223, 42);
    padding-left: 15px;
    border-bottom: 1px solid rgb(218, 226, 71);
    width: 200px;
    padding-bottom: 8px;
  }
}
img {
  width: 140px;
  height: 140px;
  margin: 5px;
  border-radius: 60%;
  border: 5px solid black;
}
.Contact {
  margin-top: 20px;
  color: rgb(220, 214, 214);
  h2 {
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
  }
  div {
    display: flex;
    gap: 10px;
    padding-top: 5px;
    cursor: pointer;
    /* margin-top: 10px; */
  }
}
.Skills {
  h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(220, 214, 214);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  li {
    list-style-type: none;
    color: rgb(220, 214, 214);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-top: 4px;
  }
}
.References {
  color: rgb(220, 214, 214);
  h2 {
    font-size: 18px;
    margin-top: 15px;

    color: rgb(220, 214, 214);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #cons {
    display: flex;
    gap: 8px;
  }
}
.SecondChildContainer {
  background-color: rgb(120, 116, 116);
  padding-left: 15px;
}
.about {
  h2 {
    color: rgb(31, 74, 31);
    font: 900;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      margin: 10px;
  }
  p{
    padding: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }
}
.experience{
  #ex {
    color: rgb(31, 74, 31);
    font: 900;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      margin: 10px;
  }
  #one{
    display: flex;
    gap: 200px;
    justify-content: space-around;

    #company{
      h2{
        width: 100px;
        font-size: 13px;
        color: rgb(31, 74, 31);
      }
      p{
        font-size: 14px;
        padding-left: 12px;
      }
    }
    #position{
      
    }
  }
}