body {
  background-color: rgb(52, 39, 20);
}
.Container {
  width: 150px;
  height: 100px;
  border: 5px solid rgb(239, 8, 8);
  position: absolute;
  animation: myAnimation 1s linear infinite;
}
.Container:hover {
}
@keyframes myAnimation {
  0% {
    top: 0px;
    left: 0px;
    background-color: beige;
  }

  25% {
    top: 0px;
    left: 500px;
    background-color: rgb(83, 124, 160);
    border-radius: 10px;
  }
  50% {
    top: 500px;
    left: 600px;
    background-color: green;
    border: 20px;
  }
  75% {
    top: 500px;
    left: 0px;
    background-color: aqua;
    border-radius: 30px;
  }
  100% {
    top: 0px;
    left: 0px;
    background-color: beige;
    border: 10px;
  }
}
