*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    width: 500px;
    background-color: rgb(107, 201, 201);
    height: 100px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    /* margin-left: 20px; */
    box-shadow: 10px 10px 30px 1px rgb(102, 94, 94);
}