* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 350px;
  height: 380px;
  border: 1px solid black;
  background-color: white;
  margin-top: 150px;
  border-radius: 15px;
}
h2 {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color:black;
  margin-bottom: 20px;
}
.ChildContainer {
  display: flex;
  padding: 10px;
  gap: 3px;
  border: none;
  margin-left: 25px;
  margin-bottom: 10px;
  font-weight: 400;
}
#same {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
}
.Data {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
  p {
    color: blue;
    cursor: pointer;
  }
}
button {
  width: 300px;
  height: 45px;
  margin: 30px;
  background-color: blue;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.signup {
  display: flex;
  gap: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 70px;
  font-size: 14px;
  #Sign {
    color: blue;
    cursor: pointer;
  }
}
